# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


pk_test_51LTgBZSB7zH8y98BBhdqSiLdC06Vh0Bvc2zPrdhyPgQyCFSQ3OM2BhNdrF50vUW17xYxrrvADhUuLO0spyG43FTk00YrV2aGvL